<ion-header>
  <ion-toolbar>
    <ion-title>Recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="search">
        <ion-label>Search</ion-label>
        <ion-icon name="search"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="add-new-recipe">
        <ion-label>Add New Recipe</ion-label>
        <ion-icon name="card"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <p>Main recipes page working!!! hahaa</p>

</ion-content>
